.mainContainer {
  position: absolute;
  height: calc(100% - 50px);
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchBar {
  margin: auto;
}
.currentWeatherPane {
  margin: auto;
  text-align: center;
  flex: 0 0 30%;
}
.extraInfo {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.extraInfoSide {
  margin: auto;
  padding-left: 20px;
  text-align: left;
}
